@import "tailwindcss";

@font-face {
    font-family: "omyu_pretty";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;

    --font-ui: "omyu_pretty", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-ui);
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
